<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="MongoDBConnection@gmail" value="mongodb://matsennin:matheus300994_@clustermatsenninvol2-shard-00-00-go8qi.mongodb.net:27017,clustermatsenninvol2-shard-00-01-go8qi.mongodb.net:27017,clustermatsenninvol2-shard-00-02-go8qi.mongodb.net:27017/admin?ssl=true##replicaSet=ClusterMaTSENNINVol2-shard-0##authSource=admin"/>
    <add key="MongoDBConnection@live" value="mongodb://MatsNew:matheus300994_@clustermatsnew-shard-00-00-et3pg.mongodb.net:27017,clustermatsnew-shard-00-01-et3pg.mongodb.net:27017,clustermatsnew-shard-00-02-et3pg.mongodb.net:27017/admin?ssl=true##replicaSet=ClusterMatsNew-shard-0##authSource=admin"/>
  </appSettings>
</configuration>